<footer class="page-footer font-small fundo pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 -col-sm-12 d-flex justify-content-center">
                <h6 class="cortext font-weight-light "> Deixa o like e ative as notificações rs</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 -col-sm-12 d-flex justify-content-center">
                <ul class="social-midias">
                    <li>
                        <a class="iconFacebook" href="https://web.facebook.com/IsaqueSilva00/" target="_black">
                            <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a class="iconFacebook" href="https://web.facebook.com/IsaqueSilva00/" target="_black">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a class="iconFacebook" href="https://web.facebook.com/IsaqueSilva00/" target="_black">
                            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a class="iconFacebook" href="https://web.facebook.com/IsaqueSilva00/" target="_black">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="footer-copyright fundo text-center py-3">
            <span class="text-light cortext font-weight-light"> &copy; 2021 Copytight: Isaque Costa</span>
        </div>
    
</footer>