/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

.fundo {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.cortexto {
    color:  bisque;
}
